{% extends "layout.html" %}

{% block content %}

<div class="left">
    <h4>Thanks for your input... </h4>
    <h1>Here are some songs we think you would like! </h1>
</div>
    
<div class="songreceipt">
    <table>
        {% for song in recommendations %}
        <tr class="song">

            <!-- Song Title -->
            <td>
                <a href="{{ song.link }}" target="_blank">{{ song.song }}</a>
            </td>

            <!-- Song Artist-->
            <td> {{ song.artist | join(', ') }}</td>

            <!-- Song Preview -->
            <td>
                {% if song.preview_url %}
                    <a class="button" href="{{ song. preview_url }}" target="_blank">Preview</a>
                {% else %}
                    No preview available
                {% endif %}
                <br>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<br>
<a class="button" href="{{ url_for('home') }}">Go Home</a>

{% endblock %}