{% extends "layout.html" %}

{% block content %}
<h1 class="center">Enter Your Information</h1>

<br>

<div class="form-container">
    <form action="{{ url_for('user_form') }}" method="POST">
        {{ form.hidden_tag() }}
        
        <br>
        <div>
            {{ form.star_sign.label }}
            {{ form.star_sign(size=32) }}
        </div>
        <br>
        <div>
            {{ form.personality_traits.label }}
            {{ form.personality_traits(rows=4, cols=50) }}
        </div>
        <br>
        <div>
            {{ form.fav_genre1.label }}
            {{ form.fav_genre1(size=32) }}
        </div>
        <br>
        <div>
            {{ form.fav_genre2.label }}
            {{ form.fav_genre2(size=32) }}
        </div>
        <br>
        <div>
            {{ form.fav_genre3.label }}
            {{ form.fav_genre3(size=32) }}
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}